:root {
  font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, body {
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

p, ul {
  color: #404040;
  margin: 0;
}

/* @media only screen 
and (min-width: 320px) 
and (max-width: 430px) 
and (orientation: portrait) {
  body {
    width: 100vw;
  }
} */